@tailwind base;
@tailwind components;
@tailwind utilities;

.react-international-phone-country-selector-button {
  height: 50px !important;
  width: 70px !important;
  border-radius: 5px !important;
}

.react-international-phone-country-selector-button__button-content {
  width: 100% !important;
}

.react-international-phone-flag-emoji {
  width: 40px !important;
  height: 40px !important;
}

.react-international-phone-country-selector-dropdown {
  top: var(--react-international-phone-dropdown-top, 55px) !important;
  border-radius: 10px !important;
  outline: none !important;
}
